<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<% link_to "New Input", new_input_path %>

<% @inputs.each do |input| %>
	<%= input.file %>
<% end %>